mixin highlights-item(logo, title, metric, current, performance, type)
  table.highlight-row.row
    tr
      td.wrapper
        table.six.columns
          tr
            td
              span.highlight-columnheading Jul 18
              h4.section-subtitle.highlight-channelname
                span.icon-wrap
                  img(src="assets/#{logo}-icon.png", width="16", height="16")
                = title
            td.expander
      td.wrapper.last
        table.six.columns
          tr
            td.six.sub-columns.text-center
              strong.highlight-label #{current}
              span.highlight-sublabel #{metric}
            td.six.sub-columns.last.text-center
              if type == "increase"
                span.highlight-label.increase= "+" + performance + " "
                span.highlight-sublabel vs Predicted
              else
                span.highlight-label.decrease= "-" + performance + " "
                span.highlight-sublabel vs Predicted
            td.expander

table.row.highlights-section
  tr
    td.wrapper.last
      table.twelve.columns
        tr
          td.text-pad
            h3.section-title Highlights
            +highlights-item(
              "facebook",
              "Bluth Co.",
              "Page Likes",
              "123",
              "38%",
              "increase"
            )
            +highlights-item(
              "twitter",
              "@Bluth",
              "New Followers",
              "57",
              "42%"
            )
            a.see-all(href="#") See all
          td.expander