mixin highlights-item(logo, title, metric, current, performance, type)
  table.highlight-row.row
    tr
      td.wrapper
        table.five.columns
          tr
            td
              h4.section-subtitle
                span.icon-wrap
                  img(src="assets/#{logo}-icon.png", width="16", height="16")
                = title
            td.expander
      td.wrapper.last
        table.seven.columns
          tr
            td.six.sub-columns
              strong #{current} #{metric}
            td.six.sub-columns.last.text-right
              if type == "increase"
                span.increase= "+" + performance + " "
                span vs. predicted
              else
                span.decrease= "-" + performance + " "
                span vs. predicted
            td.expander

table.row.highlights-section
  tr
    td.wrapper.last
      table.twelve.columns
        tr
          td.text-pad
            h3.section-title Highlights
            p.highlight-description These metrics exceeded our expectations last week.
            +highlights-item(
              "facebook",
              "Bluth Co.",
              "Page Likes",
              "123",
              "38%",
              "increase"
            )
            +highlights-item(
              "twitter",
              "@Bluth",
              "New Followers",
              "57",
              "42%"
            )
          td.expander