mixin kpi-item(title, total, diff, type, icon1, icon2, metric1, metric2)
  table.kpi-row.row
    tr
      td.wrapper
        table.five.columns
          tr
            td
              h4.section-subtitle #{title}
            td.expander
      td.wrapper.last
        table.seven.columns
          tr
            td.four.sub-columns
              span.kpi-total= total
              = " "
              if type == "increase"
                span.increase= "+" + diff + "%"
              else
                span.decrease= "-" + diff + "%"
            td.eight.sub-columns.last.text-right
              span.kpi-operand
                span.icon-wrap
                  img(src="assets/#{icon1}-icon.png", width="16", height="16")
                = metric1
              span.kpi-operation /
              span.kpi-operand
                span.icon-wrap
                  img(src="assets/#{icon2}-icon.png", width="16", height="16")
                = metric2
            td.expander

table.row.kpi-section
  tr
    td.wrapper.last
      table.twelve.columns
        tr
          td.text-pad
            h3.section-title Key Performance Indicators
            +kpi-item(
              "Avg. Revenue per Visitor",
              "$0.25",
              3.1,
              "increase",
              "shopify",
              "ga",
              "Revenue",
              "Visitors"
            )
            +kpi-item(
              "Conversion Rate",
              "21%",
              0.23,
              "decrease",
              "ga",
              "shopify",
              "Visitors",
              "Transactions"
            )
            +kpi-item(
              "Page Visits per Impression",
              "1.4%",
              0.3,
              "increase",
              "facebook",
              "facebook",
              "Page Visits",
              "Impressions"
            )
          td.expander
