mixin kpi-item(title, num1, num2, diff, type)
  table.kpi-row.row
    tr
      td.wrapper
        table.six.columns
          tr
            td
              h4.section-subtitle #{title}
            td.expander
      td.wrapper.last
        table.six.columns
          tr
            td.six.sub-columns.text-center
              div
                strong= num1
                = " "
                span last week
              div
                strong= num2
                = " "
                span prior week

            td.six.sub-columns.last.text-center
              if type == "increase"
                span.increase= "+" + diff + "%"
              else
                span.decrease= "-" + diff + "%"
              = " "
              div week-over-week
            td.expander

table.row.kpi-section
  tr
    td.wrapper.last
      table.twelve.columns
        tr
          td.text-pad
            h3.section-title Key Performance Indicators
            +kpi-item(
              "Avg. Revenue per Visitor",
              "$0.25",
              "$0.20",
              42,
              "increase"
            )
            +kpi-item(
              "Fans to Followers Ratio",
              "3.2×",
              "3.4×",
              5.9,
              "decrease"
            )
            a.see-all(href="#") See all
          td.expander
